
{{#each posts as |post| }}
<div class="row mb-4 general-style">

  <div class="title-row">
    <span> 
      <h4 class="general-h4"> 
        <a href="/post/{{post.id}}" id="post-title">{{post.title}}</a>
      </h4>
    </span> 

    <span>
      <p id="created-by">Created by {{post.user.username}} on {{format_date post.date_created}}</p>
    </span>
  </div>

  <div>
    <p id="post-content">{{post.content}}</p>
  </div>

</div>
{{/each}}